<div class="card p-5">
  <h2>Hospital Management System</h2>
  <h4>Version : 1.0.0</h4>

  <figcaption class="blockquote-footer px-5">
    <cite title="Source Title">By Sourabh Chauhan</cite>
  </figcaption>

  <br />

  <h3>Resources Reference :-</h3>
  <ul class="list-group list-group-flush px-5 text-center">
    <li class="list-group-item">
      <a
        href="https://angular.io/guide/developer-guide-overview"
        target="_blank"
        class="text-decoration-none"
        >Angular Documentation</a
      >
    </li>
    <li class="list-group-item">
      <a
        href="https://ng-bootstrap.github.io/#/getting-started"
        target="_blank"
        class="text-decoration-none"
        >Bootstrap Angular Documentation</a
      >
    </li>
    <li class="list-group-item">
      <a
        href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"
        target="_blank"
        class="text-decoration-none"
        >Bootstrap Documentation</a
      >
    </li>

    <li class="list-group-item">
      <a
        href="https://stackoverflow.com/"
        class="text-decoration-none"
        target="_blank"
        >Stackoverflow</a
      >
    </li>

    <li class="list-group-item">
      <a
        href="https://bgjar.com/animated-shape"
        class="text-decoration-none"
        target="_blank"
        >Background SVG</a
      >
    </li>
  </ul>

  <br />

  <a routerLink="/">Go Back</a>
</div>
