<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://www.mindtree.com/sites/default/files/mindtree-lnt-logo-png_0.png"
        alt="Mindtree.img"
        width="200px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarColor03"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let route of routes">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="route.route"
          >
            {{ route.name | titlecase }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
